* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-form {
    width: 95%;
    margin: 0 auto;
}

.main-title {
    padding: 20px;

    font-size: 30px;
    font-weight: 500;
    text-align: center;

    margin-bottom: 20px;
}

#list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
}

#list figure {
    width: 500px;
    border: 2px solid #000;
    border-radius: 5px; 
    padding: 5px;
    background-color: #fff;
}

.image-book {
    width: 100%;
}

figcaption {
    padding: 10px;
}

h4, h5, h6, small {
    line-height: 1.7;
    font-size: 20px;
}

small {
    font-size: 18px;
}

h6, small{
    font-size: 15px;
}

.btn-comprar {
    width: 100%;
    padding: 14px 20px;
    margin: 13px 0 8px;
    cursor: pointer;
    font-size: 18px;
}